/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*GO*/
body{
	font-family: "Roboto", sans-serif;
	font-style: italic;
	line-height: 1.5;
	font-size: 24px;
	font-weight: 500;
}
img{
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
*, *::before, *::after{
	box-sizing: border-box;
}
.image{
	height: 958px;
	background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week2/banner.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #707070;
}
.df{
	display: flex;
}
.flex-colum{
	flex-direction: column;
}
.justify-cc{
	justify-content: center;
}
.align-ic{
	align-items: center;
}
.flex-w{
	flex-wrap: wrap;
}

.header{
	color: #fff;
	font-weight: 700;
}
.header h1{
	font-size: 80px;
	font-weight: 900;
	line-height: 1.3;
	margin-bottom: 32px;
}
.icon{
	display: flex;
	justify-content: space-between;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
.text-ac{
	text-align: center;
}
.about{
	margin: 56px 0;
}
.about img{
	margin-bottom: 20px;
}
.list-1{
	border-top: 1px solid #000;
	display: inline-block;
	/*移除margin: 0 408px; 加入display:inline-block; 變成行內區塊屬性*/
	margin-top: 24px;
	padding-top: 28px;
}
.dot::before{ /*方法一*/
	display: inline-block; /*這邊不是很懂*/
	content: "";
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: #891818;
	margin-right: 16px;
}
/*方法二
.dot{
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot::before{
	content: "";
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: #891818;
	margin-right: 16px;
}                        */
.xxxd{
	background: #000000;
	border: 1px solid #707070;
	color: #fff;
	padding: 56px 0 160px 0;
}
.other{
	padding: 56px 0 144px 0;
}
.other_items{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.items img{
	margin-bottom: 16px;
}
.footer{
	background: #000;
	color: #ffff;
	padding: 64px 0;
}
.footer li a{
	text-decoration: none;
	color: #fff;
}
.footer li a:hover{
	color: #891818;
}

.fz-1{
	font-size: 64px;
	line-height: 1.3;
	font-weight: 500;
}
.fz-2{
	font-size: 20px;
}
.lh-1{
	line-height: 1.75;
}
.lh-2{
	line-height: 2.1;
}
.fw-1{
	font-weight: 700;
}
.mb-40{
	margin-bottom: 40px;
}
.mb-4{
	margin-bottom: 4px;
}
.mb-8{
	margin-bottom: 8px;
}
.mb-28{
	margin-bottom: 28px;
}
.mb-12{
	margin-bottom: 12px;
}
.mb-32{
	margin-bottom: 32px;
}
.mb-68{
	margin-bottom: 68px;
}
.mb-48{
	margin-bottom: 48px;
}
.mb-16{
	margin-bottom: 16px;
}
.mb-56{
	padding-bottom: 56px;
}
.pr-24{
	padding-right: 24px;
}
